* {
  font-size: 30px;
}

.contenedor {
  height: 300px;
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 200px auto;
  background-color: cornflowerblue;
  color: aliceblue;

  transition: all 0.5s;
}

.contenedor:hover {
  background-color: darkcyan;
  height: 350px;
  width: 350px;
  color: aliceblue;
}
